<div class="row mb-5">
  <div class="col-sm-3 offset-sm-1">

    <div class="card mt-5">
      <img class="card-img-top" [src]="user.photoURL">
      <div class="card-body">
        <h4 class="card-title">{{ user.displayName }}</h4>
        <a routerLink="/edit-profile/{{user.uid}}" class="btn btn-sm btn-primary">Edit Profile</a>
      </div>
    </div>

  </div>

  <div class="col-sm-7">
    <app-create (postCreated)="onPostCreated()"></app-create>

    <app-post *ngFor="let post of posts" [post]="post" (onDelete)="onDelete()"></app-post>

  </div>

</div>