<div class="container">

  <ul class="list-group">
    <li 
      class="list-group-item"
      *ngFor="let person of people;">
      
      <div [ngClass]="{
        'text-primary': person.country == 'IN',
        'text-danger': person.country == 'AU',
        'text-success': person.country == 'US',
        'text-info': person.country == 'UK',
        'text-warning': person.country == 'GE'
      }" [ngStyle]="{
        'font-size': getFontSize(person)
      }"> {{ person.name }} - {{ person.country }} </div>

    </li>
  </ul>

</div>


