<div class="card text-blank mt-3">
  <div class="card-body">
    <div class="card-title">
      <h2>{{ postData.title }}</h2>
    </div>

    <div class="card-text">
      {{ postData.content.substring(0, 50)  }}... <a class="card-link" routerLink="/view/{{ post.id }}">Read More</a>
    </div>

  </div>

  <div class="card-footer text-muted">
    Posted on {{ postData.created.toDate() | date: 'MMM dd, yyyy' }}

    <button type="button" class="btn btn-danger card-link btn-sm float-right" *ngIf="user && user.uid == postData.owner" (click)="delete()">Delete</button>

  </div>

  <a class="card-footer text-muted" *ngIf="(user && postData.owner != user.uid) || !user" routerLink="/profile/{{postData.owner}}">
    View Writer's Profile
  </a>

</div>