<div class="container">
  <h1>Signup Form</h1>

  <form #signupform="ngForm" (ngSubmit)="onSubmit(signupform)">

    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" required name="first_name" [(ngModel)]="first_name">
    </div>

    <div class="alert alert-danger"
      *ngIf="signupform.controls['first_name'].touched == true && signupform.controls['first_name'].invalid == true"
    >
      First name is required.
    </div>

    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" name="last_name" [(ngModel)]="last_name">
    </div>

    <button class="btn btn-success" type="submit" [disabled]="signupform.invalid == true">Submit</button>

  </form>

</div>