<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <div class="card text-blank">
      <div class="card-body">
        <div class="card-title text-center">
          <h3>Profile</h3>
        </div>
        <hr/>
        <div class="card-text">
          <div class="row">
            <div class="col-sm-3 text-center">
              <img [src]="user.photoUrl" height="256" width="256" class="img-circle">
            </div>

            <div class="col-sm-9">
              <h1>{{ user.first_name + ' ' + user.last_name }}</h1>

              <h4>{{ user.email }}</h4>

              <h5>{{ user.bio }}</h5>

              <p>{{ user.interests }}</p>

              <span class="badge badge-pill badge-primary badge-lg ml-3" *ngFor="let hobby of user.hobbies">
                {{ hobby }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <div class="card text-blank">
      <div class="card-body">
        <div class="card-title">
          <h3>Posts by {{user.first_name}} ({{posts.length}})</h3>
        </div>
        <div class="card-text">
          <app-post *ngFor="let post of posts" [post]="post"></app-post>
        </div>
      </div>
    </div>
  </div>
</div>